.classpath
/.buildpath
.project
/.settings/
/.idea
*.iml
/out
bin/**
proguard_logs/**
**/crashlytics.properties
/build

# Gradle cache
.gradle

# Local configuration file (sdk path, etc)
local.properties

